<section class="bg-primary" id="about">
    <div class="container">
        <div class="column">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <h2 class="section-heading">깔끔한글 뷰어</h2>
                <hr class="light">
                <p class="text-faded">아래한글 hwp, hwpx파일을 모바일에서 간편하게 볼 수 있습니다. 폰에서만 작동하여 정보 유출 우려가 없습니다.</p>
                <a href="https://play.google.com/store/apps/details?id=com.yeahh.hwpviewer" class="btn  wow tada"><img src="img/playstore.png"></a>
                <a href="https://apps.apple.com/app/ggalggeum-hangeulbyueo/id6453557938" class="btn wow tada"><img src="img/appstore.svg"></a>
            </div>
        </div>
        <div class="column">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <h2 class="section-heading">교통카드 잔액조회</h2>
                <hr class="light">
                <p class="text-faded">교통카드 잔액을 핸드폰으로 가볍게 확인할 수 있어요.</p>
                <a href="https://play.google.com/store/apps/details?id=com.mobiucare.cardreader" class="btn  wow tada"><img src="img/playstore.png"></a>
                <a href="https://apps.apple.com/us/app/transportation-card-balance/id1627038934" class="btn wow tada"><img src="img/appstore.svg"></a>
            </div>
        </div>
    </div>
</section>
